@{
    ViewData["Title"] = "Página Inicial";
}
<img src="~/img/hello.svg" class="img-fluid" />

<div class="text-center">
    <h1>Bem Vindo!</h1>
    <p1>Ao Autorização e Autenticação</p1>
    <p class ="visually-hidden-focusable">
        Aparece quando tem 
        <a href="#">FOCO</a>
    </p>
</div>
